body {
    background-color: #031525;  
    color: #6f8fae;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-size: 1.8em;
    margin-top: 20px;
}

h3 {
    text-align: center;
    color: #8b8686;
    font-size: 1.3em;
}

p {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.6;
    margin: 10px 0;
    color: rgb(255, 255, 255);
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    object-fit: cover;
}   


nav {
    background-color: #143953;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}
nav li {
    display: inline;
    margin-right: 20px;
}

table {
    margin: 20px 0;
    padding: 10px;
}

td {
    padding: 10px;
    vertical-align: top;
}

blockquote {
    font-size: 1.2em;
    font-style: italic;
    margin: 20px auto;
    padding: 10px 20px;
    border-left: 4px solid #878484;
    text-align: center;
}

blockquote::before {
    content: open-quote;
    font-size: 1.5em;
    color: #878484;
}

blockquote::after {
    content: close-quote;
    font-size: 1.5em;
    color: #878484;
}