{% extends "quotes/base.html" %}

{% block content %}
<html>
    <title>About</title>

    <head>
        <h1>Welcome!</h1>
    </head>
    <p>
        Welcome to the Quote of the Day application!
    </p>
    
    <p>
    This application displays quotes by and images of 
    <a href="https://en.wikipedia.org/wiki/Yoda" target="_blank">Master Yoda</a>.
</p>

<p>
    <a href="https://en.wikipedia.org/wiki/Yoda" target="_blank">Master Yoda</a> 
    is one of the most famous characters ever, He is a Jedi Master and a member of the Jedi Council, 
    He is also a mentor to the young Jedi, Luke Skywalker.
</p>

</body>
{% endblock %}  